{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduspace</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <div>
        <h1>Eduspace</h1>
        <p>Education for Everybody</p>
    </div>
</body>
</html>